<div class="container">
    
    <div class="field">
        <label>Check-in Date</label>
        <input 
            type="date"
            [(ngModel)]="startDate"
            [min]="minDate"
            placeholder="Select Check-In Date"
        >
    </div>   
    <div class="field">
        <label>Check-Out Date</label>
        <input 
            type="date"
            [(ngModel)]="endDate"
            [min]="startDate"
            placeholder="Select Check-Out Date"
        >
    </div>

    <div class="field">
        <label>Room Type</label>
        <select [(ngModel)]="roomType">
            <option disabled value="">Select Room Type</option>
            <option *ngFor="let type of roomTypes" [value]="type">
                {{type}}
            </option>
        </select>
    </div>

    <button (click)="handleSearch()">Search Rooms</button>

</div>